<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css-cheatsheet for developer</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <section class="image-container">
      <div class="container">
        <div class="photos">
          <h1>Responsive equal height images with CSS</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="card">
          <h2 class="muted">
            A reminder for myself, with all credit to
            <a
              href="https://kartikprabhu.com/articles/equal-height-images-flexbox"
              >Kartik Prabhu</a
            >
          </h2>
        </div>
        <div class="pics_row">
          <div class="box image-wrapper">
            <img src="http://blimpage.com/pants/codepen/mm1.jpg" />
            <img src="http://blimpage.com/pants/codepen/mm2.jpg" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
