@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;1,300&display=swap');

:root {
  /* Theme colors */
  --primary: #3b71ca;
  --secondary: #9fa6b2;
  --success: #14a44d;
  --danger: #dc4c64;
  --warning: #e4a11b;
  --info: #54b4d3;
  --light: #fbfbfb;
  --dark: #332d2d;

  --font-family: system-ui;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
  background-color: var(--light);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--primary);
}
p {
  font-size: 1.2rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.container {
  /* small screen 100% - 2rem  */
  width: min(50rem, 100% - 2rem);
  /* max-width: 90%; */
  /* property that defines both the logical inline start and end margins of an element */
  margin-inline: auto;
}

.top,
.bottom {
  height: 100dvh;
}

.top h1 {
  font-size: var(--fs-800);
}

.text-center {
  text-align: center;
}

.custom-card {
  margin: 2rem;
  padding: 2rem;
  max-width: 50%;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
  /* box-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  /* Material Design Card */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
