@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;1,300&display=swap');

:root {
  /* Theme colors */
  --primary: #3b71ca;
  --secondary: #9fa6b2;
  --success: #14a44d;
  --danger: #dc4c64;
  --warning: #e4a11b;
  --info: #54b4d3;
  --light: #fbfbfb;
  --dark: #332d2d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: var(--light);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--primary);
}

.container {
  max-width: 90%;
  /* property that defines both the logical inline start and end margins of an element */
  margin-inline: auto;
}

.top,
.bottom {
  height: 100dvh;
}

.text-center {
  text-align: center;
}

.custom-card {
  margin: 2rem;
  padding: 2rem;
  max-width: 50%;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
  /* box-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  /* Material Design Card */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
